VITE_API_BASE_URL=http://localhost:5000/api
VITE_STRIPE_PUBLIC_KEY=sk_test_51TOGCcHGBTgiiKnkg2jyiNKxRUKaVlcK7qDX51LOMyOOKfePCVYMCrgkZItTyJRX0dmJxPqsDFdzYMu8tjEGCocs00PDfa8N7k
VITE_RAZORPAY_KEY_ID=rzp_test_SfjNZZlFQpYTiW
