PORT=5000
MONGO_URI=mongodb+srv://testuser:IQzM39KTktUdQT1r@cluster0.mrjicas.mongodb.net/shopease?retryWrites=true&w=majority
JWT_SECRET=6a5743ffaae0ce33d6d527aa513ae09c3d259716c5993aca15e8fe388dc40bbe
VITE_API_BASE_URL=http://localhost:5000/api
STRIPE_SECRET_KEY=sk_test_your_key_here
VITE_RAZORPAY_KEY_ID=rzp_test_SfjNZZlFQpYTiW
VITE_RAZORPAY_KEY_SECRET=RgH45bZvvSzajegSMLu5KuQP
CLOUDINARY_CLOUD_NAME=cloudinary://175963191328265:OdKyArIUKcPEVR83pxbBS0VOKWM@dfbapobvh
CLOUDINARY_API_KEY=175963191328265
CLOUDINARY_API_SECRET=OdKyArIUKcPEVR83pxbBS0VOKWM

CLIENT_URL=http://localhost:5173
NODE_ENV=development
